.footer-container{
    margin: 0;
    padding: 0;
}

.footer-upperside{
    background-color: gray;
    
    color: white;
    height: 35%;
    min-height: 350px;
    padding-top: 40px;
}

.footer-title{
    text-align: center;
    font-size: 1.3rem;
}

.footer-number{
    text-align: center;
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap; 
    padding: 10px;
}

.footer-number img{
    width: 80px;
    height: 80px;
    padding-right: 20px;
}

.footer-content{
    text-align: center;
    font-size: 1.1rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-downside{
    background-color: rgb(44, 44, 44);
    color: white;
    height: 30%;
    min-height: 300px;
    margin-bottom: 0px;
}



.footer-info{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    
}

.footer-info-link{
    text-decoration: none;
    color: white;
    &:hover{
        color: rgb(226, 225, 225);
        text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000;
        transition: 0.5s;
        text-decoration: underline;
        text-underline-offset: 0.3rem;
        cursor: pointer;
    }
}

.footer-link-image{
    width: 50px;
}

.company-info{
    margin-top: 40px;
    padding: 20px;
    display: flex;
    font-size: 1rem;
    color: rgb(170, 169, 169);
}

.company{
    margin-right: 100px;
}